<h1><%= @location.name %></h1>
<%= link_to 'Edit', edit_trip_location_path(@trip, @location) %>
<%= link_to 'Delete', trip_location_path(@trip, @location), method: :delete, data: {confirm: 'You sure?'} %>
<hr />

<div>
	<p>
		The locations date is: <strong><%= @location.time %></strong>
	</p>
</div>

<%= link_to "#{@location.name.pluralize} Address", trip_location_addresses_path(@trip, @location) %>